# See https://github.com/fts-tmassey/ez-ipupdate-nat for details
[Unit]
Description=Schedule ez-ipupdate-nat.service to restart periodically
[Timer]
OnCalendar=minutely
Unit=ez-ipupdate-nat.service
[Install]
WantedBy=timers.target
